body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../background/scroll-3.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding-top: 70px;
  color: #bcc8cf;
  font-family: 'Philosopher', sans-serif;
  font-weight: normal;
  text-shadow: 1px 1px 2px black;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #000000;
  display: flex;
  position: fixed;
  width: 100%;
  height: fit-content;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon {
  width: 70px;
  height: 70px;
}

.header-exit {
  margin-right: 10px;
}

.back-link {
  width: 1px;
  height: 1px;
}

.header-vision {
  width: 80px;
  height: 80px;
}

.header-title {
  font-size: 24px;
  color: #d2bc8e;
  margin: 0;
}

.content {
  margin-top: 50px;
  display: flex;
}

.navigation {
  padding: 0;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.navigation li {
    margin-left: 100px;
    padding: 15px;
}

.navigation a {
    text-decoration: none;
    color: #bcc8cf;
    font-size: 24px;
}

a {
  color: #46C7ED;
}

.navigation li:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.content-container {
  flex: 1;
  padding: 0;
}

.content-container h1 {
  margin: 15px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .navigation li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .content-container {
    padding: 10px;
  }
}

.overview-content {
  position: absolute;
  padding: 15px;
  width: 75%;
  right: 0;
}

.overview-content h4 {
  margin: 5px;
  margin-left: 0;
}

.overview-content h1 {
  margin: 5px;
  margin-left: 0;
}

.theme1-text {
  display: block; /* Shows the text for theme1 */
}

.theme2-text {
  display: none; /* Hides the text for theme2 */
}

.character_wish {
  width: 60%;
  padding: 0 30px 0 30px;
}

.name, .voice, .overview-description, .description  {
  color: #bcc8cf;
}

.name {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 15px;
}

.voice {
  margin-bottom: 5px;
}

.voice {
  font-size: 20px;
}

.overview-description, .description {
  font-size: 18px;
}

.separator {
  height: 1px;
  width: 100%;
  border: none;
  background-color: #bcc8cf;
  margin: 5px 0 20px;
}

.info-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.right-align {
  text-align: right;
  margin: 0;
}

.left-align {
  text-align: right;
  margin: 0;
}

.interviews-table {
  margin-left: 50px;
  border-collapse: collapse;
  width: 90%;
  margin-bottom: 50px;
}

.interviews-table th, .interviews-table tr {
  border: .5px solid #bcc8cf;
}


.interviews-table td, .interviews-table th {
  padding: 10px;
}

.interviews-content th {
  font-weight: normal;
}

.weapon-icon {
  width: 80px;
  border-radius: 5px;
}

.weapon-name {
  margin: 5px;
}

.rarity-5 {
  background-image: url(../background/BG_Item_5_Star.png);
  background-size: cover;
}

.rarity-4 {
  background-image: url(../background/BG_Item_4_Star.png);
  background-size: cover;
}

.rarity-3 {
  background-image: url(../background/BG_Item_3_Star.png);
  background-size: cover;
}

h3, h4 {
  font-weight: normal;
}

h4 {
  margin: 5px;
}

.no-align {
  text-align: left;
}

.gingerbread, .subjectc {
  margin-left: 25px;
}

#gingerbread-content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.text-with-background {
  background-image: url('../icons/traditional-book.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 300px;
  padding: 0;
  margin: 0;
  padding-right: 20px;
  color: black;
  text-shadow: none;
  position: relative;
  }

  .text-with-background::before {
    content: '';
    background-image: url('../icons/person.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 85%;
    transform: translateY(-50%);
  }

.artifact-pieces {
  width: 30px;
}

.artifact-title {
  margin-left: 50px;
}

.artifact-recommendations {
  padding-left: 20px;
}

.artifact-recommendations th {
  font-weight: normal;
}

.stats-recommendations,
.artifact-recommendations {
  /* flex: 1; */
  /* margin-right: 20px; */
}

.artifact-icon {
  width: 80px;
  border-radius: 5px;
}

.constellation {
  filter: brightness(80%);
  max-width: 100%;
  width: 45%;
  height: fit-content;
}

.subjectc-table {
  margin-left: 10px;
  margin-right: 10px;
  border-collapse: collapse;
  width: 55%;
  margin-bottom: 10px;
}

.genshin-content {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 15px;
}

.genshin-table {
  border-collapse: collapse;
  width: 30%;
  margin: 30px;
}

.genshin-table th, .genshin-table td {
  border: .5px solid #bcc8cf;
  padding: 8px;
}

.genshin-table tr:last-child td {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.teams-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.teams-table td, .teams-table th {
  padding: 0;
}

.teams-table {
  border-collapse: collapse;
  margin-bottom: 50px;
}

.character-portrait {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px;
}

.character-icon {
  width: 100px;
  height: 100px;
  border-radius: 5px 5px 20px 0;
  background-color: #e9e5db;
}

.element-type {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.geo {
  filter: drop-shadow(0 0 0.2rem yellow);
}

.anemo {
  filter: drop-shadow(0 0 0.2rem aqua);
}

.character-name {
  width: 100px;
  font-style: 'Philosopher', Arial;
  font-size: 14px;
  color: #4c5569;
  font-weight: bold;
  margin: 0px auto auto auto;
  text-align: center;
  background-color: #e9e5db;
  border-radius: 0 0 5px 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: none;
}

.character-icon-wrapper {
  width: 100px;
  height: 100px;
  background-color: #e9e5db;
  border-radius: 5px 5px 0 0;
  display: inline-flex;
  overflow: hidden;
}

.teams-table td {
  padding-bottom: 10px;
}

.conclusion-artifact-title {
  margin-left: 10px;
}

.conclusion-interviews-table {
  margin-left: 10px;
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 50px;
}

.conclusion-interviews-table th, .conclusion-interviews-table tr {
  border: .5px solid #bcc8cf;
}

.conclusion-interviews-table td, .conclusion-interviews-table th {
  padding: 10px;
}
